---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ appname }}
  namespace: {{ env }}
  labels:
    app: {{ appname }}
    env: {{ env }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ appname }}
  template:
    metadata:
      labels:
        app: {{ appname }}
    spec:
      containers:
        - name: {{ appname }}
          image: barcodepro/weaponry-{{ appname }}:{{ app_version }}-{{ env }}
{% if env == "production" %}
          resources:
            requests:
              cpu: "0.2"
              memory: "100Mi"
            limits:
              cpu: "0.4"
              memory: "200Mi"
{% endif %}
          ports:
            - containerPort: 1080
          readinessProbe:
            tcpSocket:
                port: 1080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
             tcpSocket:
                port: 1080
             initialDelaySeconds: 30
             periodSeconds: 20
      imagePullSecrets:
        - name: regcreds
---
apiVersion: v1
kind: Service
metadata:
  name: {{ appname }}
  namespace: {{ env }}
spec:
  selector:
    app: {{ appname }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 1080
